@media(max-width:768px) {
    header {
        height: 2.6rem;

        h1 {
            font-size: 24px;
        }
    }

    #main-container {
        flex-direction: column;
    }

    #que-container {
        order: 2;
        width: 100vw;
        height: 50vh;


        .question {
            h1 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
            }
        }

        .input {
            width: 49%;
            font-size: 13px;
        }

        textarea {
            height: 4rem;
        }

        .btn {
            font-size: 12px;

        }
    }

    #ans-container {
        order: 1;
        width: 100vw;
        height: 50vh;

        .btn {
            font-size: 12px;
        }

        h1 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }

        .input {
            width: 100%;
        }

        textarea {
            height: 4rem;
        }
    }

    .vl {
        display: none;
    }
}