@import '_scroller';

* {
    padding: 0;
    margin: 0;
}

$primary-color: #FF6969;
$secondary-color: #FFF9DE;
$tertiary-color: #F7F5EB;

.vl {
    height: 100%;
    border-left: 1px solid grey;
}

header {
    padding: 5px 10px;
    height: 3.5rem;
    width: 100%;
    font-family: 'Lora', serif;
    font-weight: bold;
    background-color: $primary-color;
    color: $secondary-color;
}

#main-container {
    display: flex;
    height: 90vh;
    position: relative;
}

@import '_questions';
@import '_response-page';

.input {
    padding: 0.25em;
    resize: none;
    border: 0px;
    outline: 1px solid black;
    border-radius: 4px;

    &:focus {
        outline: 2px solid black;
    }
}


.user-form {
    padding: 2em;

    .ele {
        padding: 0.25rem 0em;
    }

    textarea {
        height: 10rem;
        width: 50vw;
    }

    .input-container {
        width: 50vw;
    }

    #que-submit {
        float: right;
    }
}



#no-match-text {
    padding: 0.5em;
    background-color: white;
    font-weight: bold;
    font-size: 25px;
}


@import '_responsive';